<div id="main">
  <div>
    demo synario
    <ul>
      <li *ngFor="let d of demo_data">
        <button (click)="push_event(d.json)">{{d.text}}</button>
      </li>
    </ul>
  </div>
  <hr>
  <div>
    weight scale
    <ul>
      <li *ngFor="let d of weightscale_data">
        <button (click)="push_weightscale(d.json)">{{d.text}}</button>
      </li>
    </ul>
  </div>
  <hr>
  <div>
    mic
    <ul>
      <li *ngFor="let d of mic_data">
        <button (click)="push_mic(d.json)">{{d.text}}</button>
      </li>
    </ul>
  </div>
  <hr>
  <div>
    voice control
    <ul>
      <li *ngFor="let d of voicectrl_data">
        <button (click)="push_voicectrl(d.json)">{{d.text}}</button>
      </li>
    </ul>
  </div>
  <div>
    misc
    <ul>
      <li *ngFor="let d of misc_data">
        <button (click)="push_mic(d.json)">{{d.text}}</button>
      </li>
    </ul>
  </div>
  <hr>
</div>
