<div id="main">
  <div>
    weight scale
    <ul>
      <li *ngFor="let d of weightscale_data">
        <button (click)="push_weightscale(d.json)">{{d.text}}</button>
      </li>
    </ul>
  </div>
  <hr>
  <div>
    mic
    <ul>
      <li *ngFor="let d of mic_data">
        <button (click)="push_mic(d.json)">{{d.text}}</button>
      </li>
    </ul>
  </div>
  <hr>
  <div>
    voice control
    <ul>
      <li *ngFor="let d of voicectrl_data">
        <button (click)="push_voicectrl(d.json)">{{d.text}}</button>
      </li>
    </ul>
  </div>
</div>
