<div id="main">
  <div id="content">
    <div [@fadeIn]="state.L10" class="resource" ><img src="/assets/img/L10.png"></div>
    <div [@fadeIn]="state.L11" class="resource" ><img src="/assets/img/L11.png"></div>
    <div [@fadeIn]="state.L12" class="resource" ><img src="/assets/img/L12.png"></div>
    <div [@fadeIn]="state.L13" class="resource" ><img src="/assets/img/L13.png"></div>
    <div [@fadeIn]="state.L14" class="resource" ><img src="/assets/img/L14.png"></div>
    <div [@fadeIn]="state.L20" class="resource" ><img src="/assets/img/L20.png"></div>
    <div [@fadeIn]="state.L30" class="resource" ><img src="/assets/img/L30.png"></div>
    <div [@fadeIn]="state.L40" class="resource" ><img src="/assets/img/L40.png"></div>
    <div [@fadeIn]="state.L50" class="resource" ><img src="/assets/img/L50.png"></div>
  </div>
</div>
