<div id="main">
  <div id="content">
    <div [@fadeIn]="state.L10" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L10.png"></div>
    <div [@fadeIn]="state.L11" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L11.png"></div>
    <div [@fadeIn]="state.L12" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L12.png"></div>
    <div [@fadeIn]="state.L13" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L13.png"></div>
    <div [@fadeIn]="state.L14" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L14.png"></div>
    <div [@fadeIn]="state.L20" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L20.png"></div>
    <div [@fadeIn]="state.L30" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L30.png"></div>
    <div [@fadeIn]="state.L40" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L40.png"></div>
    <div [@fadeIn]="state.L50" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/living/resource_L50.png"></div>
  </div>
</div>
