<div id="main">
  <div id="content" [style.transform]="transform">
    <div [@fadeIn]="state.B00" class="resource" ></div>
    <div [@fadeIn]="state.B10" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B10.png"></div>
    <div [@fadeIn]="state.B11" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B11.png"></div>
    <div [@fadeIn]="state.B12" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B12.png"></div>
    <div [@fadeIn]="state.B13" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B13.png"></div>
    <div [@fadeIn]="state.B14" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B14.png"></div>
    <div [@fadeIn]="state.B15" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B15.png"></div>
    <div [@fadeIn]="state.B20" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B20.png"></div>
    <div [@fadeIn]="state.B30" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B30.png"></div>
    <div [@fadeIn]="state.B40" class="resource" ><img src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/resource_B40.png"></div>
    <div [@fadeIn]="state.B4k60p" class="resource" ><video id="vB4k60p" src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/test_1_4k_60fps.mp4"></video></div>
    <div [@fadeIn]="state.B4k30p" class="resource" ><video id="vB4k30p" src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/test_1_4k_30fps.mp4"></video></div>
    <div [@fadeIn]="state.B2k60p" class="resource" ><video id="vB2k60p" src="https://vcs.softdevice.jp/svn/mdk_bci/gui/bath/test_1_fhd_60fps.mp4"></video></div>
  </div>
</div>
